@charset "utf-8";

/* pop common */
.pop_overlay{display:none;position:fixed;z-index:9998;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:410px;position:fixed;top:50%;left:50%;background-color:#fff;transform:translateX(-50%) translateY(-50%);}
.pop_body{max-height:695px;margin:1px;padding:22px 20px 0;overflow-y:auto;}
.pop_tit{display:flex;justify-content:space-between;padding:10px 15px;background-color:#073973;}
.pop_tit h1{font-size:16px;font-weight:bold;color:#fff;}
.btn_pop_close{position:relative;top:1px;width:17px;height:17px;}
.btn_pop_close::before{content:'';display:block;width:100%;height:100%;background:url(../images/btn_pop_close.png);}
.pop_wrap .search.f_sb{justify-content:space-between;}
.pop_wrap .btn_wrap{padding:16px 0;}
.pop_wrap .tbl_row th,
.pop_wrap .tbl_row td{height:25px;padding:3px;border:1px solid #d7d7d7;}
.pop_wrap table textarea{line-height:22px;}
.tbl_info label{font-weight:600;}
.tbl_info th,.tbl_info td{height:30px;padding:3px;background-color:transparent;border:1px solid transparent;text-align:left;}

.pop_cont .tit{border-bottom:1px solid #005aab;margin-bottom:10px;padding-bottom:5px;}
.pop_cont .tit h2{font-size:16px;font-weight:600;color:#005aab;}
.pop_box{width:100%;height:100px;padding:10px 20px; background-color:#e7e7e4;}
.pop_box i{align-self:center;font-size:30px;color:#073973;margin-right:20px;}
.pop_box p{align-self:center;font-size:14px;line-height:23px;}

/* 내정보(p_cmmn02-1) */
.p_cmmn02_1_1 input[type = text]{padding:0;border:1px solid transparent;}
.pop_wrap #pw{width:auto;padding-left:5px;color:#bbb;}
.pop_wrap #number,
.pop_wrap #phonenumber{padding-left:25px;}
.pop_wrap .number,
.pop_wrap .phonenumber{position:relative;}
.pop_wrap .number::before,.pop_wrap .phonenumber::before{position:absolute;top:45%;font-size:16px;font-family:'axicon';transform:translateY(-50%);color:#777;}
.pop_wrap .number::before,
.pop_wrap .number::before{content:'\f095';left:10px;}
.pop_wrap .phonenumber::before,
.pop_wrap .phonenumber::before{content:'\e865';left:7px;}
.pop_wrap table input[type = text],
.pop_wrap table input[type = date],
.pop_wrap table input[type = password],
.pop_wrap table select,
.pop_wrap table textarea{width:100%;}
.input_50 input{max-width:45%;}
.p_admin01_1 table th,
.p_cmmn02_1_1 table th,
.p_cmmn02_1_2 table th{width:30%;text-align:left;}
.p_cmmn02_1_3 table th{width:30%;}
.input_50{line-height:20px;}
.p_admin02_1.pop_wrap th,
.p_admin02_2.pop_wrap th{width:35%;}
.p_admin02_1 .tbl_row .alignL,
.p_admin02_2 .tbl_row .alignL{padding-left:8px;}
.radio_check{padding-right:10px;}
.group_ch{display:flex;align-items:center;justify-content:space-between;}
.group_ch label{display:flex;align-items:center;width:27%;}
.group_ch input{width:85%;margin-left:5px;}
.p_acc03_2_1 textarea,
.p_acc03_2_2 textarea{height:50px;}

.text_sample{border:1px solid #e9e9e9;margin-top:10px;padding:20px;}
.text_sample h3{font-size:16px;font-weight:bold;color:#073973;}
.text_sample h3::before{display:inline-block;content:'';width:3px;height:13px;background-color:#073973;margin-right:5px;}
.text_sample input[type = text]{width:80%;}