@charset "utf-8";
/* common */
.sub_wrap{position:relative;margin-top:16px;padding:30px;}
.sub_wrap::before{position:absolute;z-index:-1;top:-16px;left:0;display:block;content:'';width:100%;height:14px;background-color:#efefef;}
#wrap{width:100%;height:100%;}
header{width:100%;height:100%;}
.dot_list>li::before{content:'·';font-weight:bold;}
.dot_list>li{line-height:25px;}
.toast_alarm{display:none;position:fixed;top:70px;left:46%;}
.toast_alarm li{width:510px;color:#fff;padding:15px 15px 15px 20px;border-radius:5px;margin-bottom:5px;}
.toast_alarm .fire{background-color:#f55c5c;}
.toast_alarm .rain{background-color:#4749c3;}
.toast_alarm img{margin-right:15px;}
.toast_alarm span{font-size:13px;color:#fff;line-height:22px;vertical-align:top;}
.toast_alarm i{font-size:20px;color:#fff;}
.toast_alarm button{margin-left:10px;}
.only_con_wrap .toast_alarm{display:none;position:fixed;top:70px;left:38%;}

/*login*/
.login_wrap{display:block;height:100%;background:linear-gradient(to bottom, #f4f4f4 35%,#b4d6ed 50%,#a2cde8 51%,#f7f7f7 88%);background-size:cover;}
.login{position:absolute;left:calc(50% - 340px);top:calc(50% - 160px);width:680px;height:320px;text-align:left;border-radius:20px;box-shadow:2px 2px 5px rgba(0,0,0,.6);}
.login_tit{position:relative;height:120px;background-color:rgba(7,57,115,.6);text-align:center;border-radius:20px 20px 0 0;}
.login h1{text-align:left;padding:0 40px;font-size:30px;letter-spacing:-1.5px;line-height:1.2;font-weight:600;color:#fff;padding-top:70px;text-shadow:0 0 10px rgba(0,0,0,.9);}
.login h1 .logo{position:absolute;left:27px;top:33px;display:inline-block;width:203px;height:27px;background:url(../images/kbs_white_logo.svg) 0 0 no-repeat;background-size:contain;font-size:0;font-family:'notokr';}
.login h1 span{font-family:'notokr';font-weight:300;color:#fff;background-color: #073973;letter-spacing:3px;font-size:18px;padding:4px 7px 2px;}
.login_body{border:1px solid #fff;border-top:5px solid #073973;border-radius:0 0 20px 20px;background-color:rgba(255,255,255,.6);}
.login_input{position:relative;padding:32px 0;width:528px;margin:0 auto;}
.login_body span,
.login_body .btn_login{display:inline-block;height:44px;line-height:44px;}
.login_body span{float:left;width:367px;position:relative;margin-bottom:10px;overflow:hidden;border-radius:3px}
.login_body input[type=text],
.login_body input[type=password]{width:100%;height:100%;border:none;background-color:#fff;vertical-align:top;padding-left:58px;}
.login_body .axi::before{position:absolute;left:0;top:-1px;display:inline-block;width:45px;font-size:24px;color:#333;text-align:center;}
.login_body .axi-lock3::before{font-size:28px;right:11px;}
.login_body .btn_login{width:151px;height:101px;color:#fff;background-color:#073973;text-align:center;cursor:pointer;border:none;font-size:16px;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,.3);}
.login_body .btn_login:hover{box-shadow:0 0 5px rgba(255,255,255,.5);}
.login_body .copyright{display:inline-block;width:100%;text-align:center;color:#566b7c;padding:20px 0;border-top:none;}
.login_check label{margin-left:10px;font-size:15px;vertical-align:middle;}

/* header */
.hd_top{position:fixed;z-index:9990;width:100%;height:56px;background-color:#073973;}
.hd_logo{width:1024px;padding:12px 30px;}
.util_wrap{width:calc(100% - 1024px);padding:12px 0;}
.util_wrap span{font-size:13px;letter-spacing:-0.98px;color:#fff;line-height:33px;vertical-align:top;}
.util{display:inline-block;width:32px;height:32px;background-image:url(../images/img_util.png);background-repeat:no-repeat;background-size:cover;opacity:0.6;text-indent:-9999px;}
.util:hover{opacity:1;}
.util.user{margin:0 12px 0 17px;}
.util.alert{background-position:center 50%;}
.util.log{background-position:center 100%;}
.util_wrap ul,
.util_wrap li{display:inline-block;}
.util_wrap li{margin-right:17px;}
.alert_wrap{position:relative;}
.alert_wrap span{position:absolute;top:-4px;right:-7px;display:inline-block;width:18px;height:18px;border-radius:9px;background-color:#f00;line-height:18px;text-align:center;}
.alert_wrap span.on{animation:blink 0.8s infinite;}
@keyframes blink{
    0%{
        background-color:#f00;
    }
    50%{
        background-color:#ff6509;
    }
    100%{
        background-color:#f00;
    }
}
.system_wrap{padding:12px 23px;background-color:#073973;}
.system{display:block;width:32px;height:32px;background:url(../images/img_system.png)no-repeat bottom;text-indent:-9999px;transform:rotate(0deg);transition:0.5s;}
.system:hover{transform:rotate(180deg);}

/* gnb */
.gnb{position:fixed;top:56px;z-index:9990;width:85px;height:100%;background-color:#3c66a9;}
.gnb>ul>li{display:block;width:85px;height:100px;background-image:url(../images/ico_menu.png);background-repeat:no-repeat;background-position-x:center;}
.gnb>ul>li:hover,
.gnb>ul>li.on{background-color:#cd4646;}
.gnb>ul>li:nth-child(2){background-position-y:16%;}
.gnb>ul>li:nth-child(3){background-position-y:32.5%;}
.gnb>ul>li:nth-child(4){background-position-y:49.5%;}
.gnb>ul>li:nth-child(5){background-position-y:66.5%;}
.gnb>ul>li:nth-child(6){background-position-y:83%;}
.gnb>ul>li:nth-child(7){background-position-y:100%;}
.gnb>ul>li>a{display:block;padding:61px 0 24px;text-align:center; font-weight:bold;font-size:14px;color:#fff; letter-spacing: -0.7px;}
.depth2_wrap{position:relative;}
.depth2_wrap ul{display:none;position:absolute;top:3px;right:-130px;padding:8px 0;border:1px solid #d8d8d8; background-color:#fff;border-radius:5px;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);}
.depth2_wrap:hover ul{display:block;}
.depth2_wrap ul::before{content:'';position:absolute;top:30px;left:-10px;width:0px;height:0px;border-top:10px solid transparent;border-right:10px solid #fff;border-left:10px solid none;border-bottom:10px solid transparent;}
.depth2_wrap li:hover a,
.depth2_wrap li.on a{color:#000;}
.depth2_wrap>ul a{display:block;padding:0 18px;line-height:26px;font-size:13px;color:#555;transition:0.3s;}
.depth2_wrap li.on a,
.depth2_wrap>ul a:hover{background-color:#ffe6e6;}

/* slide */
.type_wrap{display:inline-block;}
.type_wrap li{display:inline-block;width:36px;height:16px;background-image:url(../images/ico_state.png);background-position-x:center;align-self:center;vertical-align:sub;}
.type_wrap li.request{background-position-y:0%;}
.type_wrap li.auto{background-position-y:50%;}
.type_wrap li.manual{background-position-y:100%;}

.con{width:100%;height:100%;overflow:hidden;}
.only_con_wrap{padding:20px 30px;}
.con_l{position:absolute;top:0;left:0;z-index:9980;width:411px;height:100%;background-color:#fff;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);transition:0.3s;opacity:1;}
.con_l.close{left:-412px;}
.con_l .btn_slide{position:absolute;bottom:50%;right:-27px;display:block;width:27px;height:59px;padding:0;background-image:url(../images/bg_slide.png);cursor:pointer;background-position-x:0%;}
.con_l.close .btn_slide{background-position-x:100%;}
.con_l>div{padding:12px 25px;}
.con_r{position:fixed;top:0;left:496px;width:calc(100% - 496px);height:100%;padding-top:56px;background-size:cover;}
.con_l>.slide_tit{height:61px;padding:21px 27px;}
.slide_tit h2{font-size:20px;font-weight:bold;color:#000;}
.slide_tit i{font-size:25px;color:#9098a8;}
.live_wrap{height:44px;border:1px solid #2287f3;border-width:1px 0;}
.live_wrap i{font-size:18px;color:#2287f3;}
.con_l .slide_main{height:calc(100% - 61px);overflow-y:scroll;padding:12px 25px;border-top:1px solid #e2e2e2;}
.slide_main.monitoring{height:calc(100% - 105px);padding:0;border-top:none;}
.slide_sub.monitoring{height:calc(100% - 105px);}
.slide_sub{height:calc(100% - 61px);overflow-y:scroll;border-top:1px solid #e2e2e2;}
.monitoring_wrap>li{border-bottom:1px solid #d7d7d7;padding:13px 21px;}
.monitoring_wrap>li.on{background-color:#f1f8ff;}
.monitoring_wrap>li:hover{background-color:#fffef0;}
.monitoring_wrap>li>a{display:block;}
.disaster_type,
.disaster_type ul{line-height:36px;}
.disaster_type h3{position:relative;font-size:16px;font-weight:bold;padding-left:45px;}
.disaster_type h3::before{position:absolute;left:0;display:inline-block;content:'';width:36px;height:36px;background-image:url(../images/ico_state2.png);
background-position-x:center;}
.disaster_type .heavy_rain::before{background-position-y:0%;}
.disaster_type .fire::before{background-position-y:38%;}
.monitoring_detail{margin-top:10px;}
.monitoring_detail label{vertical-align:middle;}
.monitoring_detail li{font-size:13px;line-height:30px;}
.monitoring_detail>li>ul,
.monitoring_detail>li>ul>li{display:inline-block;}
.monitoring_detail b{color:#000;}
.monitoring_detail b::after{content:':';font-weight:normal;margin:0 2px;}
.media_select li{margin-left:5px;}
.media_select input[type=radio]{vertical-align:text-bottom;}

.slide_tit i{position:relative;}
.how_to_use{display:none;position:absolute;width:540px;padding:23px 15px;background-color:#fff;font-size:13px;border:1px solid #a0a7b4;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);letter-spacing:-0.65px;}
.slide_tit i:hover{color:#000;}
.slide_tit i:hover .how_to_use{display:block;}
.how_to_use ul{margin-top:10px;}
.how_to_use li::before{margin-right:5px;}

.weather_wrap{position:absolute;top:15px;right:15px;z-index:1;}
.weather_wrap>span{padding:0 10px;border:1px solid #a0a7b4;border-radius:2px;background-color:#fff;cursor:pointer;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);line-height:35px;text-align:center;font-weight:bold;color:#000;}
.weather_wrap>span:after{position:relative;top:5px;display:inline-block;content:'';width:20px;height:20px;background:url(../images/img_arrow.png)no-repeat center center;margin-left:5px;}
.weather_wrap>span.on:after{transform:rotate(180deg);}
.weather_wrap>span.sunny::before{position:relative;top:5px;display:inline-block;content:'';width:20px;height:20px;background-image:url(../images/img_weather_sunny.png);margin:0 5px;}
.con_weather{display:none;position:absolute;margin-top:10px;right:0;padding:22px 17px;background-color:#fff;border:1px solid #a0a7b4;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.con_weather.on{display:block;}
.weather_wrap h3{font-size:16px;font-weight:bold;color:#000;}
.weather_wrap i{font-size:22px;cursor:pointer;}
.request_wrap .type_wrap li{vertical-align:text-top;}

#draggable{position:relative;}
.request_spot{position:absolute;padding:0 10px;border-radius:100px;line-height:47px;text-align:center;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.request_spot::after{display:inline-block;content:'';}
.request_spot::before{position:relative;top:7px;display:inline-block;content:'';width:30px;height:30px;margin-right:5px;background-image:url(../images/ico_state2.png);background-position-x:center;}
.request_spot.rain::before{background-position-y:70%;}
.request_spot.rain{background-color:#4547c4;}
.request_spot.fire::before{background-position-y:100%;}
.request_spot.fire{background-color:#f55c5c;}
.request_spot span{height:47px;font-size:14px;font-weight:bold;color:#fff;}
.request_wrap .type_wrap{margin-left:5px;}
.occurrence_spot{width:90px;height:100px;border:1px solid #2287f3;border-radius:5px;background-color:#fff;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.occurrence_spot>span{display:block;background-color:#2287f3;font-size:14px;font-weight:bold;color:#fff;line-height:35px;text-align:center;}
.occurrence{padding:0 12px;}
.occurrence li::before{position:relative;top:5px;display:inline-block;content:'';width:25px;height:25px;margin-right:10px;background-image:url(../images/ico_state2.png);background-size:cover;}
.occurrence li.fire::before{background-position-y:38%;}
.occurrence li>span{vertical-align:super;}

/* main_02 */
.slide_main>img{display:block;margin:15px auto 30px;}
.slide_sub .type_wrap li{vertical-align:sub;}
.breadcrumb,.breadcrumb li{display:inline-block;}
.breadcrumb li::before{display:inline-block;content:'';width:4px;height:4px;margin:0 5px 0 0;border:1px solid #999;border-width:1px 1px 0 0;transform:translateY(-50%) rotate(45deg);}
.list_area>span{display:block;padding-left:68px;}
.list_area>span:first-of-type{display:inline-block;padding-left:0;}
.monitoring_detail.monitoring_text b::after{display:none;}
.monitoring_detail.monitoring_text textarea{display:block;width:100%;resize:none;line-height:23px;}
.monitoring_detail.monitoring_text p>span{color:rgb(60, 126, 211);}
.monitoring_text li{margin-bottom:20px;}
.monitoring_text li:nth-of-type(2) textarea{height:75px;}
.monitoring_text li:nth-of-type(3) textarea{height:150px;}
.monitoring_detail .btn_wrap{margin-top:15px;}

/* issue */
.con_l .slide_main.none_scroll{overflow-y:auto !important;}
.detailsearch_wrap{display:none;}
.detailsearch_wrap .search{min-height:65px;}
.tbl_top>button{align-self:flex-end;}
.datetimepicker_wrap{position:relative;}
.datetimepicker_wrap::after{position:absolute;top:8px;right:5px;display:inline-block;content:'';width:20px;height:20px;background:url(../images/btn_calendar.png)no-repeat;}
.selectlocate_wrap{min-height:67px;padding:12px 15px;border:1px solid #d7d7d7;}
.selectlocate_wrap li{display:inline-block;padding:1px 7px 2px;border:1px solid #82beff;border-radius:50px;font-weight:bold;color:#2287f3;}
.selectlocate_wrap li i{cursor:pointer;color:#aaa;}
.selectlocate_wrap li:hover{background-color:#2287f3;color:#fff;}
.selectlocate_wrap li:hover i{color:#fff;}
.selectlocate_wrap button{align-self:center; width:102px;height:33px;font-size:13px;border-radius:5px;}
.issue02 .box_tab{margin:25px;margin-bottom:0;}
.issue02 .tab_cont>div:first-child{padding:25px;padding-bottom:0;}
.issue02 .tab_cont>div:last-child{height:100%;margin-top:20px;padding:25px;background-color:#e8e8e8;}
.con h2{margin-bottom:20px;}
.con .search_area{margin-bottom:20px;}
#tab02>div:last-child{margin-top:70px;}

/* setting */
.standard_wrap>div:first-child{width:60%;}
.standard_wrap>div:last-child{width:38%;}
.tab_conts .monitoring_detail{margin-top:0;}
.tab_conts .monitoring_text li{margin-bottom:20px;}
.tab_conts .monitoring_text li:nth-of-type(1) textarea{min-height:20px;}
.tab_conts .monitoring_text li:nth-of-type(2) textarea,
.tab_conts .monitoring_text li:nth-of-type(3) textarea{height:50px;}
.standard_detail{padding:20px; border:1px solid #d0d0d0;}

.btn_toggle{display:inline-block;position:relative;width:62px;height:22px;background-color:#999;border-radius:10px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;overflow:hidden;outline:none;border-color: #999;text-align:left;}
.btn_toggle[disabled]{cursor:default;}
.btn_toggle::before{position:absolute;top:2px;right:1px;display:inline-block;content:"";width:16px;height:16px;background-color:#fff;border-radius:50%;transition:0.5s;}
.btn_toggle::after{position:relative;content:"미사용";top:-4px; left:0;font-size:12px;color:#fff;}
.btn_toggle[datavalue="on"]{background-color:#094fa3;border-color:#094fa3;}
.btn_toggle[datavalue="on"]::before{right:43px;}
.btn_toggle[datavalue="on"]::after{content:"사용";padding-right:6px;float:right;}
.btn_toggle[datavalue="off"]{background-color:#999;border-color:transparent;}
.btn_toggle[datavalue="off"]::before{right:1px;}
.btn_toggle[datavalue="off"]::after{content:"미사용";left:0;}