@charset "utf-8";
/* common */
.tit_wrap{padding:41px 32px 14px;box-shadow:1px 1.6px 5px rgba(0, 0, 0, 0.1);}
.tit_wrap h2::before{display:inline-block;content:'';width:29px;height:32px;margin-right:15px;background:url(../images/ico_sub.png)no-repeat;vertical-align:bottom;}
.tit_wrap h2{font-size:26px;font-weight:bold;color:#000;letter-spacing:-1.3px;}
.sub_wrap{position:relative;margin-top:16px;padding:30px;}
.sub_wrap::before{position:absolute;z-index:-1;top:-16px;left:0;display:block;content:'';width:100%;height:14px;background-color:#efefef;}
#wrap{width:100%;height:100%;}
header{width:100%;height:100%;}
.dot_list>li::before{content:'·';font-weight:bold;}
.dot_list>li{line-height:25px;}
.toast_alarm{display:none;position:fixed;top:70px;left:46%;}
.toast_alarm li{width:510px;color:#fff;padding:15px 15px 15px 20px;border-radius:5px;margin-bottom:5px;}
.toast_alarm .fire{background-color:#f55c5c;}
.toast_alarm .rain{background-color:#4749c3;}
.toast_alarm img{margin-right:15px;}
.toast_alarm span{font-size:13px;color:#fff;line-height:22px;vertical-align:top;}
.toast_alarm i{font-size:20px;color:#fff;}
.toast_alarm button{margin-left:10px;}

/* login */
.login_wrap{position:relative;width:100%;height:100%;background:linear-gradient(to bottom, #f4f4f4 35%,#b4d6ed 50%,#a2cde8 51%,#f7f7f7 88%);}
.login_box{position:absolute;top:calc(50% - 200px);left:calc(50% - 275px);width:550px;height:400px;}
.tit_login{font-size:25px;font-weight:600;line-height:35px;letter-spacing: -0.06em;}
.tit_login img{margin-right:10px;}
.login{margin-top:15px;padding:35px;border:1px solid #aaa;border-top:3px solid #073973;background-color:#fff; box-shadow:0 0 10px #dfdfdf;}
.login h2{font-size: 40px;color:#000;}
.login .flex_wrap{padding:40px 0 20px; justify-content:space-between;}
.login ul{flex: 0 1 77%;}
.login li{margin-bottom:15px;}
.login button{width:100%;height:85px;border-radius:5px;flex: 0 1 19%;}
.login label{display:inline-block;width:20%;font-size:15px;}
.login input[type = text], .login input[type = password]{display:inline-block;width:78%;height:35px;line-height:35px;padding-left:10px;}
.login_check{margin-left:80px;}
.login_check input[type = checkbox]{position:relative;top:-2px;margin-right:10px;}
.login_check label{width:50%;}

/* header */
.hd_top{position:fixed;z-index:9990;width:100%;height:56px;background-color:#073973;}
.hd_logo{width:1024px;padding:12px 30px;}
.util_wrap{width:calc(100% - 1024px);padding:12px 0;}
.util_wrap span{font-size:13px;letter-spacing:-0.98px;color:#fff;line-height:33px;vertical-align:top;}
.util{display:inline-block;width:32px;height:32px;background-image:url(../images/img_util.png);background-repeat:no-repeat;background-size:cover;opacity:0.6;text-indent:-9999px;}
.util:hover{opacity:1;}
.util.user{margin:0 12px 0 17px;}
.util.alert{background-position:center 50%;}
.util.log{background-position:center 100%;}
.util_wrap ul,
.util_wrap li{display:inline-block;}
.util_wrap li{margin-right:17px;}
.alert_wrap{position:relative;}
.alert_wrap span{position:absolute;top:-4px;right:-7px;display:inline-block;width:18px;height:18px;border-radius:9px;background-color:#f00;line-height:18px;text-align:center;}
.alert_wrap span.on{animation:blink 0.8s infinite;}
@keyframes blink{
    0%{
        background-color:#f00;
    }
    50%{
        background-color:#ff6509;
    }
    100%{
        background-color:#f00;
    }
}
.system_wrap{padding:12px 23px;background-color:#073973;}
.system{display:block;width:32px;height:32px;background:url(../images/img_system.png)no-repeat bottom;text-indent:-9999px;transform:rotate(0deg);transition:0.5s;}
.system:hover{transform:rotate(180deg);}

/* gnb */
.gnb{position:fixed;top:56px;z-index:9990;width:85px;height:100%;background-color:#3c66a9;}
.gnb>ul>li{display:block;width:85px;height:100px;background-image:url(../images/ico_menu.png);background-repeat:no-repeat;background-position-x:center;}
.gnb>ul>li:hover,
.gnb>ul>li.on{background-color:#cd4646;}
.gnb>ul>li:nth-child(2){background-position-y:16%;}
.gnb>ul>li:nth-child(3){background-position-y:32.5%;}
.gnb>ul>li:nth-child(4){background-position-y:49.5%;}
.gnb>ul>li:nth-child(5){background-position-y:66.5%;}
.gnb>ul>li:nth-child(6){background-position-y:83%;}
.gnb>ul>li:nth-child(7){background-position-y:100%;}
.gnb>ul>li>a{display:block;padding:61px 0 24px;text-align:center; font-weight:bold;font-size:14px;color:#fff; letter-spacing: -0.7px;}
.depth2_wrap{position:relative;}
.depth2_wrap ul{display:none;position:absolute;top:3px;right:-130px;padding:8px 0;border:1px solid #d8d8d8; background-color:#fff;border-radius:5px;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);}
.depth2_wrap:hover ul{display:block;}
.depth2_wrap ul::before{content:'';position:absolute;top:30px;left:-10px;width:0px;height:0px;border-top:10px solid transparent;border-right:10px solid #fff;border-left:10px solid none;border-bottom:10px solid transparent;}
.depth2_wrap li:hover a,
.depth2_wrap li.on a{color:#000;}
.depth2_wrap>ul a{display:block;padding:0 18px;line-height:26px;font-size:13px;color:#555;transition:0.3s;}
.depth2_wrap li.on a,
.depth2_wrap>ul a:hover{background-color:#ffe6e6;}

/* slide */
.type_wrap{display:inline-block;}
.type_wrap li{display:inline-block;width:36px;height:16px;background-image:url(../images/ico_state.png);background-position-x:center;align-self:center;vertical-align:sub;}
.type_wrap li.request{background-position-y:0%;}
.type_wrap li.auto{background-position-y:50%;}
.type_wrap li.manual{background-position-y:100%;}

.con_l{position:absolute;top:0;left:0;z-index:9980;width:411px;height:100%;background-color:#fff;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);transition:0.3s;opacity:1;}
.con_l.close{left:-412px;}
.con_l .btn_slide{position:absolute;bottom:50%;right:-27px;display:block;width:27px;height:59px;padding:0;background-image:url(../images/bg_slide.png);cursor:pointer;background-position-x:0%;}
.con_l.close .btn_slide{background-position-x:100%;}
.con_l>div{padding:12px 25px;}

.con_r{position:absolute;top:0;left:0;width:100%;height:100%;;background-size:cover;}
.con_l>.slide_tit{height:61px;padding:21px 27px;}
.slide_tit h2{font-size:20px;font-weight:bold;color:#000;}
.slide_tit i{font-size:25px;color:#9098a8;}
.live_wrap{height:44px;border:1px solid #2287f3;border-width:1px 0;}
.live_wrap i{font-size:18px;color:#2287f3;}
.con_l .slide_main{height:calc(100% - 61px);overflow-y:scroll;padding:12px 25px;border-top:1px solid #e2e2e2;}
.slide_main.monitoring{height:calc(100% - 105px);padding:0;border-top:none;}
.slide_sub.monitoring{height:calc(100% - 105px);}
.slide_sub{height:calc(100% - 61px);overflow-y:scroll;border-top:1px solid #e2e2e2;}
.monitoring_wrap>li{border-bottom:1px solid #d7d7d7;padding:13px 21px;}
.monitoring_wrap>li.on{background-color:#f1f8ff;}
.monitoring_wrap>li:hover{background-color:#fffef0;}
.monitoring_wrap>li>a{display:block;}
.disaster_type,
.disaster_type ul{line-height:36px;}
.disaster_type h3{position:relative;font-size:16px;font-weight:bold;padding-left:45px;}
.disaster_type h3::before{position:absolute;left:0;display:inline-block;content:'';width:36px;height:36px;background-image:url(../images/ico_state2.png);
background-position-x:center;}
.disaster_type .heavy_rain::before{background-position-y:0%;}
.disaster_type .fire::before{background-position-y:38%;}
.monitoring_detail{margin-top:10px;}
.monitoring_detail li{font-size:13px;line-height:26px;}
.monitoring_detail>li>ul,
.monitoring_detail>li>ul>li{display:inline-block;}
.monitoring_detail b{color:#000;}
.monitoring_detail b::after{content:':';font-weight:normal;margin:0 2px;}

.slide_tit i{position:relative;}
.how_to_use{display:none;position:absolute;width:540px;padding:23px 15px;background-color:#fff;font-size:13px;border:1px solid #a0a7b4;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);letter-spacing:-0.65px;}
.slide_tit i:hover{color:#000;}
.slide_tit i:hover .how_to_use{display:block;}
.how_to_use ul{margin-top:10px;}
.how_to_use li::before{margin-right:5px;}

.weather_wrap{position:absolute;top:15px;right:15px;z-index:1;}
.weather_wrap>span{padding:0 10px;border:1px solid #a0a7b4;border-radius:2px;background-color:#fff;cursor:pointer;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);line-height:35px;text-align:center;font-weight:bold;color:#000;}
.weather_wrap>span:after{position:relative;top:5px;display:inline-block;content:'';width:20px;height:20px;background:url(../images/img_arrow.png)no-repeat center center;margin-left:5px;}
.weather_wrap>span.on:after{transform:rotate(180deg);}
.weather_wrap>span.sunny::before{position:relative;top:5px;display:inline-block;content:'';width:20px;height:20px;background-image:url(../images/img_weather_sunny.png);margin:0 5px;}
.con_weather{display:none;position:absolute;margin-top:10px;right:0;padding:22px 17px;background-color:#fff;border:1px solid #a0a7b4;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.con_weather.on{display:block;}
.weather_wrap h3{font-size:16px;font-weight:bold;color:#000;}
.weather_wrap i{font-size:22px;cursor:pointer;}
.request_wrap .type_wrap li{vertical-align:text-top;}

.con{overflow:hidden;}
#draggable{position:relative;}
.request_spot{position:absolute;padding:0 10px;border-radius:100px;line-height:47px;text-align:center;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.request_spot::after{display:inline-block;content:'';}
.request_spot::before{position:relative;top:7px;display:inline-block;content:'';width:30px;height:30px;margin-right:5px;background-image:url(../images/ico_state2.png);background-position-x:center;}
.request_spot.rain::before{background-position-y:70%;}
.request_spot.rain{background-color:#4547c4;}
.request_spot.fire::before{background-position-y:100%;}
.request_spot.fire{background-color:#f55c5c;}
.request_spot span{height:47px;font-size:14px;font-weight:bold;color:#fff;}
.request_wrap .type_wrap{margin-left:5px;}
.occurrence_spot{width:90px;height:100px;border:1px solid #2287f3;border-radius:5px;background-color:#fff;box-shadow: 0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);}
.occurrence_spot>span{display:block;background-color:#2287f3;font-size:14px;font-weight:bold;color:#fff;line-height:35px;text-align:center;}
.occurrence{padding:0 12px;}
.occurrence li::before{position:relative;top:5px;display:inline-block;content:'';width:25px;height:25px;margin-right:10px;background-image:url(../images/ico_state2.png);background-size:cover;}
.occurrence li.fire::before{background-position-y:38%;}
.occurrence li>span{vertical-align:super;}

/* main_02 */
.slide_main>img{display:block;margin:15px auto 30px;}
.slide_sub .type_wrap li{vertical-align:sub;}
.breadcrumb,.breadcrumb li{display:inline-block;}
.breadcrumb li::before{display:inline-block;content:'';width:4px;height:4px;margin:0 5px 0 0;border:1px solid #999;border-width:1px 1px 0 0;transform:translateY(-50%) rotate(45deg);}
.list_area>span{display:block;padding-left:68px;}
.list_area>span:first-of-type{display:inline-block;padding-left:0;}

.monitoring_detail.monitoring_text b::after{display:none;}
.monitoring_detail.monitoring_text textarea{display:block;width:100%;resize:none;line-height:23px;}
.monitoring_text li{margin-bottom:20px;}
.monitoring_text li:nth-of-type(2) textarea{height:75px;}

/* issue01 */
.detailsearch_wrap{display:none;}
.tbl_top>button{align-self:flex-end;}






